.Rproj.user
.Rhistory
.RData
.Ruserdata
._methodsPPI.R
._sets.R 
._git 
._gitignore
._Rhistory
._DESCRIPTION
._man
._methodsPPI.Rproj 
._NAMESPACE
._R
._README.md
._gitignore
.Rbuildignore
.RData
.Rhistory
